.gallery__link {
  cursor: pointer;
  padding: .25em .5em;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

.gallery__link:hover {
  background: #444;
}

.gallery__link.is-selected {
  background: #333;
}
