.list-item {
  cursor: pointer;
  padding: .25em .5em;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-item:hover {
  background: #444;
}

.list-item.is-selected {
  background: #333;
}
