.gallery__image-wrapper {
  flex: 0 0 auto;
  box-sizing: border-box;
  border: solid 1px transparent;
  text-align: center;
  position: relative;
  transition: background 200ms;
}

.gallery__image-wrapper:hover {
    background: #060606;
}

.gallery__image-wrapper:hover > .gallery__image-remove,
.gallery__image-wrapper:hover > .gallery__image-title,
.gallery__image-wrapper:hover > .gallery__image-hide,
.gallery__image-wrapper:hover > .gallery__image-size,
.gallery__image-wrapper:hover > .gallery__image-open {
  display: block;
  background: rgba(255,255,255, .4);
}

.gallery__image {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

.gallery__image-title,
.gallery__image-remove,
.gallery__image-hide,
.gallery__image-open {
  padding: .25em;
  z-index: 1;
  position: absolute;
  display: none;
  cursor: pointer;
  color: #000;
}

.gallery__image-title {
  bottom: 0;
  left: 0;
  right: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.gallery__image-remove {
  top: 0;
  right: 0;
}

.gallery__image-hide {
  top: 2em;
  right: 0;
}


.gallery__image-open {
  top: 4em;
  right: 0;
  text-decoration: none;
}
